.form-group {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
  }

.form-group input{
    justify-content: center;
    width: 300px;
    margin-left: 10px;
}

.form-group select{
    justify-content: center;
    width: 300px;
    margin-left: 10px;
}